/* Stylesheet for the table configuration container */

.table-configuration-container{
  padding-bottom: 10px;
}

/* Stylesheet for the Material table element*/

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}


.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
