/* Stylesheet for the table configuration container */

.table-configuration-container{
  padding-bottom: 10px;
}

/* Stylesheet for the Material table element*/

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
